@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    /* MOBILE */

    .mobile-nav {
        @apply flex sm:hidden w-full h-auto bg-gray-900
    }

    .mobile-nav nav {
        @apply w-full h-full p-2 flex
    }

    .mobile-nav nav div {
        @apply w-full flex flex-col items-end mr-4
    }

    .mobile-nav nav div h2 {
        @apply w-full text-xl text-right text-white font-normal tracking-wide
    }

    .mobile-toggle-page {
        @apply w-full h-screen flex flex-col sm:hidden bg-gray-900
    }

    .mobile-toggle-page nav {
        @apply w-full h-auto flex justify-center items-center py-6 px-4 mt-4 
        tracking-wider text-lg font-semibold text-yellow-100
    }

    .mobile-home {
        @apply hover:text-pink-600 pr-4
    }

    .mobile-smallapps {
        @apply hover:text-pink-600 border-l border-gray-700 pl-4
    }

    .mobile-social-1 {
        @apply w-4 h-4
    }

    .mobile-social-2 {
        @apply w-auto h-4
    }

    .mobile-social-2 {
        @apply w-auto h-4
    }

    .mobile-social-3 {
        @apply w-5 h-auto
    }

    .mobile-toggle-page ul {
        @apply w-full h-auto py-6 flex justify-center items-center space-x-8
    }

    .mobile-toggle-page article {
        @apply w-full h-auto px-4 mt-12 flex flex-col justify-start items-center
    }
    
    
    /*DESK*/

    body {
        @apply w-screen h-screen bg-slate-50 relative font-ubuntu
    }

    body main {
        @apply w-full h-full hidden sm:flex
    }

    body aside {
        @apply w-auto h-full px-4 flex justify-end items-center bg-gray-700
    }

    body section {
        @apply w-full h-full flex flex-col font-ubuntu-mono
    }

    .nav-bar {
        @apply w-full h-auto flex px-10 py-6 justify-start items-center space-x-10 
        
    }

    .nav-link {
        @apply text-right text-lg tracking-widest font-light hover:underline hover:text-red-600
    }

    .social-1 {
        @apply w-7 h-auto
    }

    .social-2 {
        @apply w-6 h-6
    }

    .social-3 {
        @apply w-auto h-6 
    }


    /* NOTAS PIZZARI */

    
    .notas-main {
        @apply w-full h-full flex flex-col justify-center items-center
    }

    .notas-main header {
        @apply  w-full h-auto py-6 flex flex-col justify-center items-center
    }

    .notas-main header h2 {
        @apply text-3xl text-blue-400 font-light tracking-wide text-left
    }

    .notas-main header form {
        @apply w-1/2 h-auto flex flex-col space-y-4 justify-center items-center mt-6
    }

    .input-wraper {
        @apply w-full h-full flex border-2 border-blue-400 rounded-md
        justify-center items-center 
    }
    
    .input-wraper i {
        @apply w-1/5 h-full px-4 py-2 bg-blue-400 text-2xl font-bold text-white
        text-center
    }
    
    .input-wraper input {
         @apply w-4/5 h-full px-4 py-2 border-none focus:outline-2 focus:outline-red-400
         focus:rounded-r-md
    }

    .bt-submit {
        @apply w-1/4 h-full px-4 py-2 border border-blue-400 hover:bg-blue-400
        hover:text-white active:bg-blue-800 rounded-md text-blue-400
    }

    .bt-clear {
        @apply w-1/4 h-full ml-4 px-4 py-2 border border-blue-400 hover:bg-blue-400
        hover:text-white active:bg-blue-800 rounded-md text-blue-400
    }

    main section {
        @apply w-full h-2/3 flex justify-center items-start
    }

    .valor-list {
        @apply w-1/2 h-auto flex justify-center text-2xl font-normal text-blue-400
    }

    .valor-list > li {
        @apply w-1/2 h-auto flex flex-col justify-start items-start text-right
    }

    .pizza-tamanho {
        @apply text-4xl font-medium text-blue-400 underline underline-offset-1
        mb-6
    }

    .text-valor {
        @apply text-red-500 font-semibold ml-4
    }

    .valor-wraper {
        @apply flex justify-center items-center
    }

    
}