<nav id="menu" class="w-full h-auto mt-4 py-4 px-6 flex border rounded-2xl border-purple-900 relative">
    <button class="md:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
    </button>
    <ul class="flex items-center space-x-12 text-medium tracking-widest font-bold text-xl " 
    style="font-family: 'Ubuntu Mono', monospace;">
        <a class="hover:text-pink-600" href="#sobre">Blog</a>
        <a class="hover:text-pink-600" href="#js">Sobre</a>
        <a class="hover:text-pink-600" href="#django">Projetos</a>
    </ul>
    <ul class="flex space-x-10 absolute right-12" >
        <a href="https://www.linkedin.com/in/viriato-nova-4a155b127/" target="_blank"><img class="w-6 h-6" src="/assents/images/iconsAtivo 4.png" alt=""></a>
        <a href="https://github.com/viriatonova" target="_blank"><img class="w-6 h-6" src="/assents/images/iconsAtivo 6.png" alt=""></a>
        <a href="https://www.facebook.com/Viriato.Nova" target="_blank"><img class="w-auto h-6" src="/assents/images/iconsAtivo 7.png" alt=""></a>
        <a href="https://www.instagram.com/viriato_nova/" target="_blank"><img class="w-6 h-6" src="/assents/images/iconsAtivo 5.png" alt=""></a>
        <a href="mailto:viriatosampaio@gmail.com" target="_blank"><img class="w-auto h-auto" src="/assents/images/email.png" alt=""></a>
    </ul>
</nav>