<nav id="menumobile" class="hidden w-auto h-screen">
    <button id="btclose" class="w-full h-auto py-2 flex justify-start items-center"><svg  xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg></button>
    <ul class="flex flex-col justify-center items-center space-y-4 mt-4" >
        <a href="https://www.linkedin.com/in/viriato-nova-4a155b127/" target="_blank"><img class="w-4 h-4" src="/assents/images/iconsAtivo 4.png" alt=""></a>
        <a href="https://github.com/viriatonova" target="_blank"><img class="w-4 h-4" src="/assents/images/iconsAtivo 6.png" alt=""></a>
        <a href="https://www.facebook.com/Viriato.Nova" target="_blank"><img class="w-auto h-4" src="/assents/images/iconsAtivo 7.png" alt=""></a>
        <a href="https://www.instagram.com/viriato_nova/" target="_blank"><img class="w-4 h-4" src="/assents/images/iconsAtivo 5.png" alt=""></a>
        <a href="mailto:viriatosampaio@gmail.com" target="_blank"><img class="w-5 h-auto" src="/assents/images/email.png" alt=""></a>
    </ul>
</nav>