<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu:wght@300;700&display=swap"
        rel="stylesheet">
    <title>{{ page.title }}</title>
</head>
<body class="w-full h-full flex flex-col xl:container mx-auto bg-black" style="font-family: 'Ubuntu', sans-serif;">

    <div id="mobileNav" class="flex sm:hidden w-full h-auto">
        <nav class="w-full h-full p-2 flex">
            <button id="btmenu" class="w-auto h-auto ml-4"><svg  xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg></button>
            <div class="w-full flex flex-col items-end mr-4">
                <h2 class="w-full text-xl text-white text-right font-normal tracking-wide">Viriato Nova</h2>
                <p class="w-full text-xs text-gray-400 text-right tracking-widest">Personal Blog</p>
            </div>
        </nav>
    </div>

    <div id="togglePage" class="hidden w-full h-auto">
        <nav class="w-full h-full flex justify-center items-cente py-6 px-4 tracking-wider text-lg font-semibold text-white">
            <a class="hover:text-pink-600 pr-4" href="/.">Home</a>
            <a class="hover:text-pink-600 border-l border-gray-700 pl-4" href="/projetos">Projetos</a>
        </nav>
        <article id="sobre" class="w-full h-full px-4 mt-4 flex flex-col justify-center border-bt border-gray-700 border-opacity-50"">
            <div class="flex justify-start items-center">
                <img class="w-1/2 h-auto p-2 rounded-2xl shadow-xl self-start" 
                src="https://avatars.githubusercontent.com/u/81425727?s=400&u=aff870ea3ebd3fc0ede48ee2520b5e46460e5ddb&v=4" 
                alt="Viriato Nova">
                <h2 class="w-1/2 ml-4 mt-4 pb-2 text-2xl font-semibold self-start text-white">
                    Olá,<br>Eu sou Viriato Nova
                </h2>
            </div>
            <p class="mt-4 font-light text-md text-gray-400 tracking-wide">
                Trabalhei em diversas áreas da engenharia, mas minha principal atuação
                foi em projetos. Ainda trabalho como projetista estrutural independente 
                e consultor técnico em pequenas obras. <br>
                <br>
                Comecei no desenvolvimento web como trainee de aplicações
                web usando Django e Docker na plataforma Gitlab.<br/>
                <br/>
                Minhas minhas principais competências são:<br/>
                
                Python | Django | HTML | CSS | JavaScript 
            </p>
        </article>
    </div>

    <header id="menudesk" class="w-full h-auto hidden sm:flex px-12 py-2 justify-center items-center bg-black text-white border-b border-gray-700 border-opacity-50">
        <div class="w-52 h-auto flex flex-col text-left">
            <h2 class="text-xl">Viriato Nova</h2>
            <p class="text-md text-gray-500">Personal Blog</p>
        </div>
        <nav class="w-full h-full flex justify-center space-x-10 text-right text-sm tracking-widest font-light">
            <a class="h-full hover:bg-purple-900 border border-gray-700 rounded-lg px-2 py-2" href="/.">Home</a>
            <a class="h-full hover:bg-purple-900 border border-gray-700 rounded-lg px-2 py-2" href="/projetos">Projetos</a>
        </nav>
        <ul class="w-1/3 h-auto mr-2 flex justify-end items-end space-x-8" >
            <a href="https://www.linkedin.com/in/viriato-nova-4a155b127/" target="_blank"><img class="w-4 h-4" src="assets/images/iconsAtivo 4.png" alt=""></a>
            <a href="https://github.com/viriatonova" target="_blank"><img class="w-4 h-4" src="assets/images/iconsAtivo 6.png" alt=""></a>
            <a href="https://www.facebook.com/Viriato.Nova" target="_blank"><img class="w-auto h-4" src="assets/images/iconsAtivo 7.png" alt=""></a>
            <a href="https://www.instagram.com/viriato_nova/" target="_blank"><img class="w-4 h-4" src="assets/images/iconsAtivo 5.png" alt=""></a>
            <a href="mailto:viriatosampaio@gmail.com" target="_blank"><img class="w-5 h-auto" src="assets/images/email.png" alt=""></a>
        </ul>
    </header>